html{
    font-size: 62.5%;
    box-sizing: border-box;
}   

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* navbar */
/* sidebar */
.sidebar{
    width: 8rem;
    height: 100%;
    background-color: #aaa;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.menu-icon {
    margin-top: 3rem;
    cursor: pointer;
}



.line{
    height: .2rem;
    width: 2.5rem;
    background-color: #222;
    margin-bottom: .6rem;
}

.line-1, .line-3{
    width: 1.3rem;
    transition: all 400ms;
}

.menu-icon:hover .line{
    width: 2.5rem;
}

.social-icons-list{
    list-style: none;
    padding: 0;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.social-link{
    font-size: 2rem;
    color: #777;
    transition: color 300ms;
}

.social-link:hover{
    color: #deaa86;
}

.year{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #555;
}

/* end of sidebar */

/* navigation */
.navigation{
    left: -32rem;
    position: fixed;
    width: 40rem;
    height: 100%;

    background: linear-gradient(to top, rgba(0, 0, 0, .4), rgba(0, 0, 0, .7)), url(../assets/images/navigation_4.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: left 800ms cubic-bezier(1, 0, 0, 1);
}

.navigation-heading{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: .2rem;
    color: #deaa86;
    text-align: center;
}
.navigation-search{
    position: relative;
}
.navigation-search-input{
    width: 30rem;
    padding: 1rem 2rem;
    background-color: rgba(0, 0, 0, .3);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.6rem;
    color: #deaa86;
    letter-spacing: .1rem;
    outline: none;
    border: 0.1rem solid #555;
    border-radius: 10rem;
    transition: background-color 300ms;
}
.navigation-search-input:focus{
    background-color: rgba(0, 0, 0, .1);
}
.navigation-search-btn{
    border: none;
    background-color: transparent;
    color: #deaa86;
    font-size: 1.7rem;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.navigation-search-btn:focus{
    outline: none;
}
.navigation-list{
    list-style: none;
    padding: 0;
    height: 28rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.navigation-item{
    position: relative;
}
.navigation-link{
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 500ms;
}
.navigation-link::before{
    content: '';
    width: 0;
    height: .1rem;
    background-color: #deaa86;
    position: absolute;
    top: 50%;
    left: -4rem;
    transition: width 500ms cubic-bezier(1, 0, 0, 1);
}

.navigation-link::after{
    content: '';
    width: 0;
    height: .1rem;
    background-color: #deaa86;
    position: absolute;
    top: 50%;
    right: -4rem;  
    transition: width 500ms cubic-bezier(1, 0, 0, 1);
}
.navigation-link:hover{
    color: #deaa86;
}
.navigation-link:hover::before,
.navigation-link:hover::after
{
    width: 3rem
}

.copyright{
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.checkbox:checked ~ .navigation{
    left: 8rem;
}
.checkbox:checked ~ .sidebar .line-1{
    transform: rotate(-405deg) translate(-5px, 6px);
    width: 2.5rem;
}
.checkbox:checked + .sidebar .line-2{
    opacity: 0;
}
.checkbox:checked + .sidebar .line-3{
    transform: rotate(405deg) translate(-5px, -6px);
    width: 2.5rem;
}
/* end of navigation */
/* end of navbar */

/* -------------------------------------------------------------------------------------------------------------------------- */
/* header */
.header{
    margin-left: 8rem;
    height: 100vh;
    background: linear-gradient(to top, rgba(0,0,0,.4), rgba(0, 0, 0, .3)), url(../assets/images/background-header.jpg) center no-repeat;
    background-size: cover;
}
.brand div i{
    font-size: 50px;
    color: #deaa86;
}
.brand div{
    display: flex;
    /* background-color: red; */
    align-items: center;
    margin: 0 20px;
}

.brand{
    display: flex;
    cursor: pointer;
}

.hotel-heading{
    font-family: 'Josefine Sans', sans-serif;
    font-size: 2.7rem;
    font-weight: 400;
    color: #deaa86;
    letter-spacing: .2rem;
}

.banner{
    color: #ddd;
    height: 65rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-heading{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 7rem;
    font-weight: 400;
    margin-bottom: 0;
    animation: anim 2s;
}
.banner-paragraph{
    font-size: 3.5rem;
    font-weight: 300;
    animation: anim 1.5s .5s backwards;
}
.banner-button{
    width: 21rem;
    padding: 1.2rem 2rem;
    font-size: 2rem;
    color: #333;
    letter-spacing: .1rem;
    border: none;
    border-radius: 10rem;
    outline: none;
    background: linear-gradient(to right, gold, goldenrod);
    cursor: pointer;
    animation: anim 1s 1s backwards;
}
.banner-button:hover{
    background: linear-gradient(to left, gold, goldenrod);
}
.banner-button:active{
    transform: translateY(0.2rem);
}
@keyframes anim{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100;
    }
}
/* end of header */

/* ----------------------------------------------------------------------------- */
/* about us */
.about-us{
    margin-left: 8rem;
    display: flex;
    background-color: #ddd;

}
.about-us-content{
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem;
    box-sizing: border-box;
}
.about-us-heading{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #555;
}

.sub-heading{
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: .2rem;
    color: #b85d1c;
}
.about-us-paragraph{
    font-size: 1.6rem;
    font-style: italic;
    font-weight: 300;
    text-align: center;
    margin-bottom: 5rem;
}
.about-us-btn{
    width: 15rem;
    /* padding: .7rem 0.5rem; */
    padding: .7rem 0.5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #b85d1c;
    background-color: transparent;
    border: .1rem solid #b85d1c;
    outline: none;
    cursor: pointer;
}
.btn-arrow{
    margin-left: .5rem;
    transition: margin-left 400ms;
}
.about-us-btn:hover .btn-arrow{
    margin-left: 1.5rem;
}

.about-us-images{
    flex: 1 1;
    position: relative;
}

.image{
    width: 32rem;
    height: 20rem;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, .4);
    border-radius: .4rem;
    border: .2rem solid #b85d1c;
}
.image-1{
    transform: translate(-20%, -90%);
}
.image-2{
    transform: translate(-70%, -70%);
}
.image-3{
    transform: translateX(-50%) translateY(-50%);
}
.image-4{
    transform: translate(-30%, -30%);
}
/* end of about us */

/* common header */
.common-header{
    padding: 5rem;
    text-align: center;
    color: #b85d1c;
}
.common-heading{
    font-size: 4rem;
    font-weight: 300;
    letter-spacing: .2rem;
}
.small-underline{
    width: 9rem;
    height: .1rem;
    background-color: #b85d1c;
    margin: 0 auto 1rem auto;
}
.big-underline{
    width: 20rem;
    height: .1rem;
    background-color: #b85d1c;
    margin: auto;
}
/* end of common header */

/* room section */
.rooms{
    margin-left: 8rem;
}
.rooms-cards-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.room-card{
    width: 60rem;
    margin: 5rem;
    background-color: #15141b;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, .3);
}
.room-card-content{
    color: #ddd;
    padding: 2rem;
}
.room-card-heading{
    margin: 0;
    font-size: 3rem;
    font-weight: 300;
}
.room-card-paragraph{
    font-size: 1.5rem;
    color: #777;
}
.room-price{
    font-size: 5rem;
    font-weight: 300;
    text-align: right;
    margin: 0;
}
.room-card-btn{
    width: 15rem;
    padding: 1.5rem 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #b85d1c;
    background-color: transparent;
    border: .1rem solid #b85d1c;
    border-radius: 10rem;
    outline: none;
    cursor: pointer;
}
.room-img{
    width: 100%;
}

.rooms-btn-wrapper{
    text-align: center;
}
.rooms-btn{
    width: 20rem;
    padding: 1.5rem 1rem;
    margin: 4rem 0;
    background-color: transparent;
    text-transform: uppercase;
    color: #b85d1c;
    border: .2rem solid #b85d1c;
    outline: none;
    cursor: pointer;
    box-shadow: 0 1.5rem 6rem rgba(0, 0, 0, .4);
    transition: all 300ms;
}
.rooms-btn:hover{
    color: #ddd;
    background-color: #b85d1c;
}
/* end of room section */